* {
    margin: 0px;
    padding: 0px;
    font-family: 'Markazi Text', sans-serif;
}

a {
    text-decoration: none;
}

body {
    direction: rtl;
    background-color: #f4f4f5;

}

nav {
    background-color: #0f94e9;
    height: 50px;

    top: 0px;
    margin: 0px auto;
    min-width: 1435px;
    max-width: 1650px;

    z-index: 2;
    position: sticky;
}



nav ul {
    list-style-type: none;
}

nav li:hover {
    background-color: rgba(2, 159, 243, 0.9);
    cursor: pointer;
}

nav a {
    color: white;
    font-size: 18px;
}

nav .nav-name li .fas {
    color: white;
    top: 22px;
    font-size: 35px;
}

nav .nav-name li {
    display: inline-block;
    width: 80px;
    height: 100%;
    text-align: center;
    padding: 14px 0px;
    position: relative;
    transition: 0.3s;
}

.nav-name li ul {
    display: none;
    position: absolute;
    top: 50px;
    z-index: 100;
    min-width: 200px;
    background-color: rgba(255, 255, 255, 0.558);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.nav-name li ul li {
    width: 100%;
    background-color: white;
    text-align: right;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-name li ul li a {
    padding: 5%;
    color: rgba(53, 55, 74, 0.621);
}

.nav-name li:hover ul {

    display: block;
}

.nav-name {
    float: right;
}


.nav-icon {
    float: left;
    display: flex;
    height: 100%;

}

.nav-icon li {
    display: inline;
    text-align: center;
    width: 60px;
    border-right: 1px solid rgba(0, 0, 0, 0.097);
}

.nav-icon li i {
    line-height: 1.7;
    transform: scale(1.3);
}

.logo a {
    padding: 14px;
    background-color: #212121;
    color: aliceblue;
    font-size: 19px;
    float: right;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clear {
    clear: both;
}

.container-images {
    min-width: 1430px;
    max-width: 1650px;
    height: 500px;
    margin: 200px auto;
    z-index: 1;

}

.container-images>* {
    margin: 5px;


}

.image-set {
    float: left;
    background-size: cover;
    background-position: center;
    position: relative;

}

.container-images>div:nth-of-type(1) {
    width: 32%;
    height: 350px;

    background-image: url("./asset/images/up-left-image.jpg");
}

.container-images>div:nth-of-type(2) {
    width: 66.11%;
    height: 350px;
    background-image: url("./asset/images/up-right-image.jpg");
    background-position: 0px -90px;
}

.container-images>div:nth-of-type(3) {
    width: 32%;
    height: 120px;
    background-image: url("./asset/images/down-left-image.jpg");
}

.container-images>div:nth-of-type(4) {
    width: 32%;

    height: 120px;
    background-image: url("./asset/images/down-middle-image.jpg");
}

.container-images>div:nth-of-type(5) {
    width: 33.33%;
    height: 120px;

    background-image: url("./asset/images/down-right-image.jpg");

}

.container-images div a {
    display: block;
    width: 100%;
    height: 100%;
    color: aliceblue;
    position: relative;

    transition: 1s;


}

.container-images h3 {
    bottom: 30px;
    position: absolute;
    font-size: 30px;
    margin: 20px 20px;
}

.text-set-upper span {
    bottom: 5px;
    right: 5px;
    margin: 10px;
    font-size: 18px;
    position: absolute;
    color: #bbbbbb;
}

.text-set span {
    position: absolute;
    text-align: right;
    margin-right: 140px;
    margin-top: 40px;
    text-align: justify;
    margin-left: 10px;
    font-size: 20px;
}

.container-images div:hover .front-dark-bg {
    bottom: 0px;
    display: block;

}

.front-blur-bg {
    display: block;
    width: 100%;
    background-color: #000000cc;

    position: absolute;
    height: 100%;

}

.front-dark-bg {
    display: none;
    width: 100%;
    bottom: 500px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9697012594100141) 0%, rgba(8, 9, 9, 0.9136788504464286) 14%, rgba(13, 15, 15, 0.8604575619310224) 23%, rgba(51, 61, 61, 0.4683006991859243) 49%, rgba(255, 255, 255, 0) 60%);
    transition: 2s;
    position: absolute;
    height: 100%;



}


.divrin {
    position: absolute;

}

.imgrin {
    margin-top: 5px;
    margin-right: 5px;
    width: 125px;
    height: 110px;


}

.container-honor {
    min-width: 1430px;
    max-width: 1650px;
    margin: 0px auto;
}

.honor-div {
    margin: 0px auto;
    padding-bottom: 50px;
    width: 1000px;
    height: 100px;
}

.honor-div img {
    display: block;
    width: 100%;
    height: 100%;
}

.container-main {
    min-width: 1430px;
    max-width: 1650px;
    margin: 0px auto;
    height: 3010px;
}

main {
    margin: 0px auto;
    width: 1300px;
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    flex-direction: row;

    height: 6000px;

}

.sidebar-widget {
    height: 700px;
}

.sidebar-widget h3 {
    font-size: 32px;
    margin-right: 10px;
    margin-top: 10px;
}

.inner-card {
    width: 280px;
    margin: 18px auto;
    box-shadow: -2px 2px 4px #88888892;
    height: 100px;
    display: flex;
    transition: 0.8s;
}

.inner-card:hover {
    box-shadow: -5px 5px 14px #888888c2;

}

.sidebar-widget .inner-card .card-img-side img {

    object-fit: cover;
    height: 100px;
    width: 100px;
}

.sidebar-widget .inner-card a {
    color: #474242;

    display: flex;
    font-size: 23px;
    width: 100%;


}

.sidebar-widget .inner-card .span {
    width: 180px;
    text-align: right;

    padding: 5px 5px;
    align-self: center;
    font-size: 18.5px;
    line-height: 1.3;
}


.left-side {
    width: 320px;
    height: 3000px;
    margin: 0px auto;
    float: left;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.left {
    width: 320px;
    height: 320px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.left img {

    margin: 7px auto;
    width: 300px;
    height: 300px;
    cursor: pointer;
    display: block;
}


.post1 {

    position: relative;
    width: 650px;
    margin: auto;
}

.post1 img {

    display: block;
    width: 90%;
    margin: auto;


}


.post1 h1 a {
    color: white;
    font-size: larger;

}

.post1 h1 {
    position: absolute;
    font-size: 20px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 50%);

    width: 80%;
    height: 20px;


}

.post-header {
    position: relative;
}

.post-description {
    text-align: justify;
    font-size: 21px;
    display: block;
    font-weight: 400;
    width: 90%;
    margin: 20px auto;
    line-height: 1.6;

}

.post1 .post-meta {
    position: absolute;
    bottom: 30px;
    right: 110px;

    color: #d9d5d5;
    font-size: 18px;
}

.post1 .post-meta span {

    padding: 10px;
}

.post1 .post-meta .fas {
    font-size: 8px;

}

/* .divider {
    width: 100%;
    margin: 2% auto;
    border-bottom: 1px solid #bbbbbb;

} */
hr {
    color: rgba(0, 0, 0, 0.21);
}

.post2 {
    display: flex;
    position: relative;
}

.post2 .img-post2 {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-right: 20px;
}

.post2 .img-post2 img {
    display: block;
    width: 100%;

    height: 100%;
}

.container-text-post2 {
    width: 520px;
}

.post2 .container-text-post2 a {
    margin-top: 20px;
    margin-right: 20px;
    width: 500px;
    height: 70px;
    display: inline-block;
    color: black;
    font-size: 24px;

}

.post2 .meta-post2 {
    color: #474242;
    margin-top: 5px;

    padding: 9px 18px;
    margin-right: 12px;
    font-size: 16px;

}

.post2 .post-meta span,
i {
    padding: 10px;
}

.post2 .meta-post2 .fa-comment-alt {
    font-size: 16px;
    color: black;
    padding: 0px;
}

.post2 .meta-post2 .fa-circle {
    color: #d9d5d5;
    font-size: 8px;

}

.text-post2 {
    color: black;
    font-size: 22px;
    margin: 10px;
    text-align: right;
    line-height: 1.6;
    margin-bottom: 30px;
}

.middle {
    width: 60%;
    height: 0px;
}

.middle h4 {
    margin-top: 20px;
    font-size: 35px;
    margin-right: 30px;
    font-weight: bolder;
    text-align: right;
    width: 100%;
    height: 60px;
}

.right-side {
    width: 320px;
    height: 3000px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);

}

.right {
    display: block;
    width: 320px;
    margin: 0px auto;

    height: 320px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}


.right img {
    cursor: pointer;

    margin: 7px auto;
    width: 300px;
    height: 300px;
    display: block;
}

.right-end {
    height: 160px;
}

.right-end img {
    height: 150px;
}

.nav-name i {
    color: white;
    position: absolute;
    top: 27px;
    display: none;
    font-size: 40px;
    left: 30px;
}

.nav-name li:hover .fas {

    display: block;
}

.container-barresi {
    min-width: 1430px;
    max-width: 1650px;
    margin: 0px auto;
}

.barresi {
    width: 1300px;
    margin: 0px auto;
    height: 370px;
    background-position: center;
    background-size: cover;

    background-image: url("asset/images/barresi-section.jpg");
}

.top-div-barresi {
    width: 100%;
    border-bottom: 0.5px solid #bbbbbb;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}


.top-div-barresi h3 {

    margin: 20px 40px;
    color: white;
    font-size: 35px;
}

.container-barresi button {
    font-weight: bold;
    width: 200px;
    border: none;
    font-size: large;
    margin: 60px 30px;
    height: 45px;
    color: black;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, .28);
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.barresi .container-barresi-divs img {
    object-fit: cover;
    height: 200px;
    width: 280px;
    display: block;
}

.barresi .container-barresi-divs a {
    color: white;
    position: relative;
    display: block;
}

.container-barresi-divs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.container-barresi-divs>div {
    width: 280px;


    height: 200px;
}

.container-barresi-divs .describe-img {
    position: absolute;
    right: 5px;
    font-weight: bolder;
    margin: 5px;
    color: white;
    font-size: 19px;
    bottom: 20px;
}

article .text-post2 .edame-matlab {
    color: #1661e2;
    display: inline;
    font-size: 20px;
}

.pag-container {
    display: flex;
}

.pagination {

    margin: 0px auto;
}

.pagination>a {
    color: #474242;
    float: left;
    padding: 8px 16px;
    font-size: 25px;
    transition: background-color .5s;
}


.pagination a:hover:not(.active) {
    background-color: #296adbca;
    color: white;
}

/*   ss  */

.container-inline-card {
    min-width: 1430px;
    max-width: 1650px;
    margin: 0px auto;
}

.card {
    border: 2px solid red;
    height: 450px;
    margin: 0px auto;
    width: 1300px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.inline-card {
    display: flex;
    width: 1300px;
    margin: 0px auto;

    justify-content: space-evenly;

}

.top-card-title button {
    font-weight: bolder;
    width: 150px;
    border: 1px solid red;
    font-size: 22px;
    margin: 30px 30px;
    height: 45px;
    color: black;
    box-shadow: -5px 3px 12px rgba(0, 0, 0, .28);
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.h3-incard {
    margin: 30px 40px;
    color: #1661e2;
    font-size: 35px;


}

.top-card-title {
    display: flex;
    height: 110px;
    justify-content: space-between;
}

.card img {
    height: 150px;

    width: 100%;
    object-fit: cover;
}

.inline-card>div {
    box-shadow: -2px 2px 8px #888888a7;
    position: relative;
    width: 220px;
    height: 300px;
    transition: 0.5s;
}

.container-inline-card .black {
    color: #1661e2;
}

.container-inline-card .no-border {
    border: none;
}

.inline-card figcaption h5 {
    color: black;
    font-size: 19px;
    font-weight: 400;
    margin: 10px 18px;
}

.inline-card figcaption span {

    position: absolute;
    bottom: 10px;
    color: #767373;


    right: 18px;
}

.inline-card>div:hover {
    box-shadow: -5px 5px 14px #888888c2;

}

.container-article {
    min-width: 1430px;
    max-width: 1650px;
    margin: 0px auto;
}

.fig-sec {

    height: 760px;
    margin: 0px auto;
    width: 1300px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.row-content {
    display: flex;
    width: 1300px;
    height: 325px;
    position: relative;
}

.row-content article {
    display: flex;
    width: 650px;
    height: 320px;
}

.row-content figcaption {
    background-color: #0f94e9;
    position: relative;

}

.row-content figcaption,
figure {
    width: 325px;
    height: 325px;
}


.row-content figure img {
    object-fit: cover;
    height: 325px;
    width: 325px;
}

.row-content article>.fas {
    position: absolute;
    font-size: 80px;
    color: #0f94e9;
    bottom: 120px;
}



.row-content article .caret1 {
    left: 312px;
}

.row-content .caret2 {
    right: 290px;
}

.row-content .caret3 {
    right: 312px;
}

.row-content .caret4 {
    left: 290px;
}

.row-content figcaption .fig-h4 {
    justify-content: center;
    font-size: 21px;
    margin: 15px;
    font-weight: bold;
    display: block;
    color: white;
    width: 280px;
    height: 65px;
}

.meta-fig-sec {
    width: 250px;
    height: 40px;
    color: #9dd3f6;
    margin-right: 20px;

}

.row-content .read-more {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    margin-top: 5px;
}

.meta-fig-sec span {
    font-size: 19px;
}

.meta-fig-sec .fa-circle {

    font-size: 8px;
}

.row-content figcaption button {
    border: 2px solid white;
    border-radius: 4px;
    width: 145px;
    height: 40px;
    position: absolute;
    bottom: 15px;
    right: 30px;
    font-size: 22px;
    background-color: #0f94e9;

}